<div class="container mt-5">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><i class="fas fa-exclamation-circle"></i> Failed Selecting a student </h4>
        <p> The requested student does not appear to exist in our database. Kindly select the appropriate student from
            the available options, and please refrain from entering information directly into the link bar. </p>
        <hr>
        <p class="mb-0">
            <a href="{% url 'single_student_report' %}" class="btn btn-primary"><i class="fas fa-redo-alt"></i> return
            </a>
        </p>
    </div>
</div>