<div {% if id %} id="resultDiv" hx-swap="outerHTML" {% endif %}>
    {% if message %}
    <h2>{{message}}</h2>
    {% endif %}

    <form action="#" method="post" id="myForm" hx-post="uncomplitionhandler/" hx-target="#resultDiv" hx-indicator="true">
        <div class="htmx-indicator">Loading....</div>
        {% csrf_token %}
        <input type="hidden" name="Batch" value="{{Batch}}" />
        <h2>Cource complition </h2>
        <table class="table table-striped table-bordered table-sm mt-3">
            <thead class="thead-light">
                <tr>
                    <th>Full name</th>
                    <th>Cource</th>
                    <th>complition Status</th>
                </tr>
            </thead>
            <tbody>
                {% for stu in stus %}
                <tr>
                    <td>{{ stu.first_name|capfirst }} {{ stu.last_name|capfirst }}</td>
                    <td>{{ stu.cource|capfirst }}</td>
                    <td>
                        <input type="checkbox" name="{{stu.id}}" {% if stu.finished %}checked{% endif %}>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Submit</button>
    </form>
</div>