{% extends 'base.html' %}

{% block content %}
<style>
    /* Custom CSS for a green theme */
    body {
        background-color: #e2f1e9;
        /* Light green background */
        padding: 20px;
    }

    form {
        max-width: 600px;
        margin: 0 auto;
        background-color: #d1f0cd;
        /* Light green form background */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }



    h2 {
        text-align: center;
        color: #1e7e34;
        /* Dark green text color */
    }

    table {
        width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid #6da06d;
        /* Dark green border */
        padding: 8px;
        text-align: left;
    }

    button {
        background-color: #1e7e34;
        /* Dark green button background */
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #155724;
        /* Darker green on hover */
    }

    .balance {
        font-size: 18px;
        margin-bottom: 10px;
        padding: 5px 10px;
        background-color: #f3f3f3;
        border-left: 5px solid #17a2b8;
        /* You can change the color to fit your design */
        display: inline-block;
    }

    /* Style for the Font Awesome icon */
    .balance i {
        margin-right: 5px;
    }

    .money-box {
        background-color: #f0f0f0;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
    }

    .money-icon {
        color: #007bff;
    }

    .money-icon1 {
        color: #e34e34;
    }

    .money-icon2 {
        color: #34e360;
    }

    h2 {
        color: #007bff;
        margin-top: 10px;
        font-size: 36px;
    }

    .h21 {
        color: #e34e34;
        margin-top: 10px;
        font-size: 36px;
    }

    .h22 {
        color: #34e360;
        margin-top: 10px;
        font-size: 36px;
    }

    p {
        color: #555;
        margin-top: 5px;
        font-size: 18px;
    }
</style>

<div class="container mt-5">

    <form class="mb-3" hx-post='.' hx-target="#resultDiv" hx-indicator="true">
        <h3>Student Name</h3>
        {% csrf_token %}
        <input class="form-control" type="text" name="name" hx-post="spend_det" hx-trigger="keyup changed delay:1s"
            hx-target="#resultDiv" />
    </form>

    <div id="resultDiv" hx-swap="outerHTML">
        <h1>No result yet</h1>
    </div>





</div>

{% endblock content %}